a {
  font-size: 20px;
  color: rgb(5, 5, 39);
}
a:hover{
  animation: fade-up;
  color: rgb(5, 5, 39);
}
.navbar {
  background: transparent;
  color: rgb(5, 5, 39);
  padding: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.navbar-brand {
  font-size: 12px !important;
  padding: 0px !important;
}
.logo {
  justify-content: flex-start;
  width: 120px;
  height: 99px;
}
.justify-content-end {
  padding-right: 38px;
}