@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&family=Nunito&display=swap');

*, *::after, *::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 2;
}
.rec_body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content:flex-start;
    align-items: center;
    font-family: 'Zen Tokyo Zoo', cursive;
    background-color: #f7e3ab;
}
.container_form
{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1280px;
    background-color: white;
    padding: 16px;
    box-shadow: 8px 8px 8px 3px rgba(0, 0, 0, 0.4);
    border: 4px solid #f4c542;
    border-radius: 20px;
}
.asset-2
{
    position: absolute;
    width: 96px;
    height: 126px;
    top: 5px;
    left: 5px;
    filter: blur(4px);
}
.asset-1
{
    pointer-events: none;
    position: absolute;
    width: 327.46px;
    height: 429.5px;
    right: 5px;
    bottom: 5px;
    z-index: 1;
    filter: blur(4px);
}
.card-1
{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px;
    border-right: 1px solid #041424;
}
.card-1 h1
{
    font-size: 48px;
    text-align: center;
    color: #041424;
}
.card-1 h1 span
{
    font-weight: 800;
    color: #f4c542;
}
.icons 
{
    display: flex;
    flex-wrap: wrap;
    bottom: 2vh;
}
.icon-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #041424;
    vertical-align: middle;
    background-color: #f4c542;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 6px 16px;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease;
}
.icon-button:hover
{
    color: #f4c542;
    background-color: #041424;
    box-shadow: none;
}
.card-2
{
    font-family: 'Poppins';
    padding: 20px 40px;
    width: 60%;
}
form
{
    width: 100%;
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.req
{
    font-size: 16px;
    color:#dd6666;
    margin-bottom: 8px;
}
.req::before
{
    content: "*";
    color: #dd6666;
}
.last-question{
    font-size: 20px;
}
.req-field{
    font-size: 20px;
}
.req-field::after
{
    margin-left: 5px;
    content: "*";
    color: #dd6666;
}
section
{
    width: 100%;
    z-index: 2;
    margin-bottom: 50px;
}
.fields
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.field
{
    max-width: 300px;
    width: 100%;
    height: 40px;
    display: flex;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

section .fields + .field
{
    width: 100%;
    max-width: none;
    margin-top: 20px;
}
.icon-box
{
    background-color: #f4c542;
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.icon
{
    color: #041424;
}
.input-box
{
    font-size: 16px;
    width: 100%;
    color: #041424;
    border: 2px solid #f4c542;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 10px;
    transition: border 0.2s ease;
    box-shadow: inset 0px 6px 6px #cbced1, inset -6px -6px 6px white;
}
.input-box:focus, textarea:focus, select:focus
{
    outline: none;
    border: 3px solid #f4c542;
}
.radio input
{
    display: none;
}
.radio span
{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-radius: 15px;
    background-color: white;
    transition: background-color 0.2s ease;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.15);
}
.radio span:hover, .radio input:checked + span
{
    color: #041424;
    background-color: #f4c542;
    box-shadow: none;
}
.radio span::before
{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.2s ease;
    box-shadow:  inset 0 0 0 2px #041424;
}
.radio input:checked + span::before
{
    box-shadow: inset 0 0 0 6px #041424;
}
select, textarea
{   
    background-color: white;
    height: 30px;
    transition: border 0.1s ease-in-out;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    padding: 10px;
    color: black;
}
select
{
    width:100%;
    max-width: 30%;
    cursor: pointer;
    padding: 0;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.15);
}
textarea
{
    width: 100%;
    height: 150px;
    font-size: 16px;
    font-family: poppins,sans-serif;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.15);
}
button
{
    cursor: pointer;
    font-family: 'Zen Tokyo Zoo', cursive;
    width: 80%;
    height: auto;
    border: none;
    background-color: #f4c542;
    padding: 10px;
    font-size: larger;
    color: #041424;
    z-index: 2;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease;
}
button:hover
{
    background-color: #041424;
    color: #f4c542;
    box-shadow: none;
}
@media(max-width:1098px)
{
    section:nth-of-type(1) .fields
    {
        flex-direction: column;
    }
    section:nth-of-type(1) .fields .field
    {
        max-width: none;
        width: 100%;
    }
    section:nth-of-type(1) .fields .field:nth-of-type(2)
    {
        margin-top: 12px;
    }
    section:nth-of-type(2) .fields
    {
        margin-top: 0;
    }
    section:nth-of-type(2) .fields .radio span
    {
        margin-top: 12px;
    }
    section .fields 
    {
        flex-wrap: wrap;
    }
    .card-1 h1
    {
        font-size: 28px;
    }
}
@media(max-width:768px)
{
    .container_form
    {
        flex-direction: column;
    }
    .card-1, .card-2
    {
        width: 100%;
    }
    .card-1
    {
        border-right: none;
        border-bottom: 1px solid #041424;
    }
    .card-1 img
    {
        margin: 40px 0;
    }
    section:nth-of-type(3) .fields
    {
        flex-direction: column;
    }
    section:nth-of-type(3) .fields select
    {
        width: 100%;
        max-width: none;
        margin-top: 12px;
    }
    section:nth-of-type(3) .fields
    {
        margin-top: 0;
    }
}