.main{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 0.05rem;
    padding: 75px 0px 20px;
    text-align: center;
    font-size: 1.9vh;
    background-color:#001427;
    scroll-behavior: smooth;
}
h1{
    padding: 5px;
    margin-bottom: 10px; 
    font-size: 48px;
    font-weight: bolder;
    line-height: 72px;
    display: inline-block;
    font-family: 'Montserrat',sans-serif;
}
.para{
    color: rgba(232, 238, 242, 0.75);
    width: 71%;
    margin: 0 auto;
    padding: 10px;
    font-size: 19px;
    line-height: 27px;
    text-align: center;
}
.card{
    background-color: transparent;
    color: rgba(232, 238, 242, 0.75);
    font-size: 16px;
    border: 0px;
    padding: 10px;
}
.card:hover{
    transform: translateY(-10px) scale(1.05) rotateX(15deg);
    box-shadow: 2px 3px 5px 3px #fdca40;
    transition: ease-in 0.1s;
}
.cardtitle{
    font-size: 35px;
    font-weight: 50;
    color:#FDCA40;
}

